{% extends './modal.html' %}{% load i18n %}

{% block title_change %}{% trans 'Изменить роль' %}{% endblock %}
{% block title_add %}{% trans 'Добавить роль' %}{% endblock %}

{% block api_url %}{% url 'proplan:api:roles' %}{% endblock %}

{% block other_fields %}
<div class="form-group">
    <label>{% trans 'Пользователи' %}</label>
    <select multiple class="form-control" name="users"></select>
</div>
<div class="form-group">
    <label>{% trans 'Разрешения' %}</label>
    <select multiple class="form-control" name="permissions"></select>
</div>
{% endblock %}
