{% extends './modal.html' %}
{% load i18n proplan_models %}

{% block title_change %}{% trans 'Изменить стадию' %}{% endblock %}
{% block title_add %}{% trans 'Добавить стадию' %}{% endblock %}

{% block api_url %}{% url 'proplan:api:stages' %}{% endblock %}

{% block other_fields %}
{% get_stage_statuses as statuses %}
<div class="form-group">
    <label>{% trans 'Статус' %}</label>
    <select class="form-control" name="status">
    {% for id, text in statuses %}
        <option <%= object.status === {{ id }} ? 'selected' : '' %> \
            value="{{ id }}">{{ text }}</option>
    {% endfor %}
    </select>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="is_abs" \
        <%= object.is_abs ? 'checked' : '' %>>
        <span>{% trans 'Используется для ABS' %}</span>
    </label>
</div>
{% endblock %}
