{% load proplan_models %}
{% get_tracker_statuses as statuses %}
<% 
var statuses = {
{% for id, text in statuses %}"{{ id }}": "{{ text|escapejs }}",{% endfor %}
}
%>
<tr>
    <td><%- object.id %></td>
    <td>
        <a href="#" data-id="<%- object.id %>" class="open-tracker">
            <%- object.name %>
        </a>
    </td>
    <td><%- object.description %></td>
    <td><%- statuses[String(object.status)] %></td>
    <td>
        <% if (object.is_abs) { %>
            <i class="fa fa-check text-danger"></i>
        <% } %>
    </td>
</tr>
