{% load static i18n proplan_html %}{% newlineless %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if get_current_language_bidi %}dir="rtl"{% endif %}>
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
    <title>{% block title %}{% endblock %}</title>
{% block favicon %}
    <link rel="icon" href="{{ STATIC_PREFIX }}proplan/img/favicon.ico" type="image/x-icon">
{% endblock %}
{% block base_styles %}
    {# Third-party base styles #}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}
{% block site_styles %}
{% if DEBUG %}
    <link rel="stylesheet/less" href="{{ STATIC_PREFIX }}proplan/css/style.less?v={{ VERSION }}"/>
    <!-- Less.js must be in the header after less files -->
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/less.js/3.9.0/less.min.js"></script>
{% else %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}proplan/css/style.min.css?v={{ VERSION }}"/>
{% endif %}
{% endblock %}
{% block page_styles %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% endspaceless %}{% endnewlineless %}{% block body %}{% newlineless %}{% spaceless %}
{% include './_navbar.html' %}
<div class="container-fluid">
    <div class="row">
        {% include './_sidebar.html' %}
        <main role="main" class="col-md-11 col-xl-10 ml-md-auto my-5 px-4 py-3">
        {% endspaceless %}{% endnewlineless %}{% block content %}{% endblock %}{% newlineless %}{% spaceless %}
        </main>
    </div>
</div>
{% endspaceless %}{% endnewlineless %}{% endblock %}{% newlineless %}{% spaceless %}
{% block base_javascript %}
    {# Third-party base javascript #}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/jquery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block global_vars_javascript %}{% endblock %}
{% block site_javascript %}
    {# Site javascript #}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/csrf/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}proplan/js/extend.js?v={{ VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}proplan/js/templates.js?v={{ VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}proplan/js/utils.js?v={{ VERSION }}"></script>
{% endblock %}
{% block page_javascript %}{% endblock %}
{% block javascript_templates %}{% endblock %}
</body>
</html>{% endspaceless %}{% endnewlineless %}
