{% extends './base.html'%}
{% load i18n proplan_nav proplan_html %}

{% block body_class %}comments{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
{% url 'proplan:comments' as path %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Комментарии' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{{ path }}{% delparams request 'user_id' %}" class="btn btn-sm btn-outline-secondary {% if not filters.user_id %}active{% endif %}">{% trans 'все' %}</a>
            <a href="{{ path }}{% addparams request user_id=user.id %}" class="btn btn-sm btn-outline-secondary {% if filters.user_id == user.id|stringformat:'s' %}active{% endif %}">{% trans 'свои' %}</a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-calendar"></span>
            <span class="ml-1"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{{ path }}{% delparams request 'created__lt' %}" class="dropdown-item {% if not filters.created__lt %}active{% endif %}">{% trans 'На сейчас' %}</a>
            <a href="{{ path }}{% addparams request created__lt=week_0 %}" class="dropdown-item {% if filters.created__lt == week_0 %}active{% endif %}">{% trans '1 неделю назад' %}</a>
            <a href="{{ path }}{% addparams request created__lt=week_1 %}" class="dropdown-item {% if filters.created__lt == week_1 %}active{% endif %}">{% trans '2 недели назад' %}</a>
            <a href="{{ path }}{% addparams request created__lt=week_2 %}" class="dropdown-item {% if filters.created__lt == week_2 %}active{% endif %}">{% trans '3 недели назад' %}</a>
            <a href="{{ path }}{% addparams request created__lt=month_0 %}" class="dropdown-item {% if filters.created__lt == month_0 %}active{% endif %}">{% trans '1 месяц назад' %}</a>
            <a href="{{ path }}{% addparams request created__lt=month_1 %}" class="dropdown-item {% if filters.created__lt == month_1 %}active{% endif %}">{% trans '2 месяца назад' %}</a>
            <a href="{{ path }}{% addparams request created__lt=month_2 %}" class="dropdown-item {% if filters.created__lt == month_2 %}active{% endif %}">{% trans '3 месяца назад' %}</a>
        </div>
    </div>
</div>

<table class="table table-striped mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{% trans 'Комментарий' %}</th>
            <th>{% trans 'Пользователь' %}</th>
            <th>{% trans 'Задача' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in page.object_list %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>
                <a href="{% url 'proplan:task' id=comment.task_id %}#comment-{{ comment.id }}"> \
                    {{ comment.message|markdown|striptags|truncatewords:20 }} \
                </a>
            </td>
            <td>{{ comment.user.get_full_name|default:comment.user|default:'' }}</td>
            <td>
                <a href="{% url 'proplan:task' id=comment.task_id %}">
                    <span>{{ comment.task }}</span>
                {% if comment.changes %}
                    <span class="badge bg-warning ml-1" title="{% trans 'Задача изменена.' %}">
                        <span class="fa fa-edit"></span>
                    </span>
                {% endif %}
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">
                <p class="text-danger mb-0"><strong>{% trans 'комментарии не найдены' %}</strong></p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% if page.object_list %}
    <tfoot>
        <tr>
            <td colspan="4" class="pr-0">{% include './_table_pagination.html' %}</td>
        </tr>
    </tfoot>
{% endif %}
</table>

{% endspaceless %}{% endnewlineless %}{% endblock %}
