{% extends './base.html'%}
{% load i18n proplan_html %}

{% block body_class %}configuration{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Конфигурация' %}</h1>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Трекеры' %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-secondary open-tracker">
            <span class="fa fa-plus"></span>
            <span class="ml-1">{% trans 'добавить трекер' %}</span>
        </button>
    </div>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Статус' %}</th>
            <th>ABS</th>
        </tr>
    </thead>
    <tbody id="trackers"></tbody>
</table>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Стадии' %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-secondary open-stage">
            <span class="fa fa-plus"></span>
            <span class="ml-1">{% trans 'добавить стадию' %}</span>
        </button>
    </div>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Статус' %}</th>
            <th>ABS</th>
        </tr>
    </thead>
    <tbody id="stages"></tbody>
</table>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Подпроекты' %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-secondary open-subproject">
            <span class="fa fa-plus"></span>
            <span class="ml-1">{% trans 'добавить подпроект' %}</span>
        </button>
    </div>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
        </tr>
    </thead>
    <tbody id="subprojects"></tbody>
</table>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Роли' %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-secondary open-role">
            <span class="fa fa-plus"></span>
            <span class="ml-1">{% trans 'добавить роль' %}</span>
        </button>
    </div>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Пользователи' %}</th>
            <th>{% trans 'Разрешения' %}</th>
        </tr>
    </thead>
    <tbody id="roles"></tbody>
</table>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Системные параметры' %}</h2>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Значение' %}</th>
            <th>{% trans 'Кэш' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>

{% endblock %}

{% block javascript_templates %}
<script type="text/template" id="template-row_role">
{% include 'proplan/underscore/configuration/row_role.html' %}
</script>
<script type="text/template" id="template-row_stage">
{% include 'proplan/underscore/configuration/row_stage.html' %}
</script>
<script type="text/template" id="template-row_subproject">
{% include 'proplan/underscore/configuration/row_subproject.html' %}
</script>
<script type="text/template" id="template-row_tracker">
{% include 'proplan/underscore/configuration/row_tracker.html' %}
</script>
{% endblock %}

{% block page_javascript %}
{% newlineless_javascript %}
<script type="text/javascript">
var ROLES_URL = '{% url 'proplan:api:roles' %}',
    STAGES_URL = '{% url 'proplan:api:stages' %}',
    SUBPROJECTS_URL = '{% url 'proplan:api:subprojects' %}',
    TRACKERS_URL = '{% url 'proplan:api:trackers' %}',
    reloadData;


function openModal(name, data) {
    loadTemplate(name, data, function(html) {
        $('#modal').html(html).modal('show');
    })
}


function openRole(e) {
    var id = $(this).data('id'), tname = 'configuration/modal_role';
    if (id) {
        $.getJSON(ROLES_URL + id + '/', function(data) {
            openModal(tname, {object: data})
        })
    }
    else {
        openModal(tname, {object: {}})
    }
    reloadData = loadRoles;
}


function openStage(e) {
    var id = $(this).data('id'), tname = 'configuration/modal_stage';
    if (id) {
        $.getJSON(STAGES_URL + id + '/', function(data) {
            openModal(tname, {object: data})
        })
    }
    else {
        openModal(tname, {object: {}})
    }
    reloadData = loadStages;
}


function openSubproject(e) {
    var id = $(this).data('id'), tname = 'configuration/modal_subproject';
    if (id) {
        $.getJSON(SUBPROJECTS_URL + id + '/', function(data) {
            openModal(tname, {object: data})
        })
    }
    else {
        openModal(tname, {object: {}})
    }
    reloadData = loadSubprojects;
}


function openTracker(e) {
    var id = $(this).data('id'), tname = 'configuration/modal_tracker';
    if (id) {
        $.getJSON(TRACKERS_URL + id + '/', function(data) {
            openModal(tname, {object: data})
        })
    }
    else {
        openModal(tname, {object: {}})
    }
    reloadData = loadTrackers;
}


function loadRoles() {
    var tb = $('#roles').empty();
    $.getJSON(ROLES_URL, function(data) {
        $.each(data.page.objects, function(k, v) {
            tb.append(window.TEMPLATES['row_role']({object: v}))
        })
    })
}


function loadStages() {
    var tb = $('#stages').empty();
    $.getJSON(STAGES_URL, function(data) {
        $.each(data.page.objects, function(k, v) {
            tb.append(window.TEMPLATES['row_stage']({object: v}))
        })
    })
}


function loadSubprojects() {
    var tb = $('#subprojects').empty();
    $.getJSON(SUBPROJECTS_URL, function(data) {
        $.each(data.page.objects, function(k, v) {
            tb.append(window.TEMPLATES['row_subproject']({object: v}))
        })
    })
}


function loadTrackers() {
    var tb = $('#trackers').empty();
    $.getJSON(TRACKERS_URL, function(data) {
        $.each(data.page.objects, function(k, v) {
            tb.append(window.TEMPLATES['row_tracker']({object: v}))
        })
    })
}


$(document).ready(function($) {

    buildTemplates();

    $('body')
        .on('click', '.open-role', openRole)
        .on('click', '.open-stage', openStage)
        .on('click', '.open-subproject', openSubproject)
        .on('click', '.open-tracker', openTracker)
        .on('click', '#modal button.apply', function() {
            var form = $('#modal form')[0],
                formData = new FormData(form),
                url = form.action;
            $.ajax({
                url: url,
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal').modal('hide');
                    if (reloadData) {
                        reloadData()
                    }
                }
            })
        })
    ;
    loadTrackers();
    loadStages();
    loadSubprojects();
    loadRoles();
})

</script>
{% endnewlineless_javascript %}
{% endblock %}
