{% extends './base.html'%}
{% load i18n proplan_html proplan_nav %}

{% block body_class %}console{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
{% url 'proplan:console' as path %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Панель управления' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'proplan:add_task' %}" class="btn btn-sm btn-outline-secondary add-task">
                <span class="fa fa-plus"></span>
                <span class="ml-1">{% trans 'добавить задачу' %}</span>
            </a>
        </div>
        <button type="button" id="dropdownMenuSubprojects" \
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" \
            class="btn btn-sm btn-outline-secondary dropdown-toggle \
            {% if subproject or filters.subproject__isnull %}active{% endif %}">
            <span class="fa fa-hashtag"></span>
        {% if subproject %}
            <span class="ml-1">{{ subproject }}</span>
        {% elif 'subproject' in filters and filters.subproject is None %}
            <span class="ml-1">{% trans 'Без подпроектов' %}</span>
        {% else %}
            <span class="ml-1">{% trans 'С подпроектами' %}</span>
        {% endif %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSubprojects">
            <a href="{{ path }}{% delparams request 'subproject' %}" class="dropdown-item {% if 'subproject' not in filters %}active{% endif %}">{% trans 'С подпроектами' %}</a>
            <a href="{{ path }}{% addparams request subproject='null' %}" class="dropdown-item {% if 'subproject' in filters and filters.subproject is None %}active{% endif %}">{% trans 'Без подпроектов' %}</a>
        {% for sub in subprojects %}
            <a href="{{ path }}{% addparams request subproject=sub.id %}" class="dropdown-item {% if filters.subproject == sub.id %}active{% endif %}">{{ sub }}</a>
        {% endfor %}
        </div>
    </div>
</div>

<div class="row">
{% for task in current_tasks %}
    <div class="col-lg-6 col-xl-4">
        {% include './_task_card.html' %}
    </div>
{% empty %}
    <div class="col-sm-12">
        <p class="text-danger"><strong>{% trans 'текущие задачи не найдены' %}</strong></p>
    </div>
{% endfor %}
</div>

{% if paused_tasks %}
<div class="row">
    <h2 calss="h3">{% trans 'Приостановленные задачи' %}</h2>
{% for task in paused_tasks %}
    <div class="col-lg-6 col-xl-4">
        {% include './_task_card.html' %}
    </div>
{% endfor %}
</div>
{% endif %}

{% endspaceless %}{% endnewlineless %}{% endblock %}

{% block javascript_templates %}
{% endblock %}

{% block page_javascript %}
{% newlineless_javascript %}
<script type="text/javascript">


function openModal(name, data) {
    loadTemplate(name, data, function(html) {
        $('#modal').html(html).modal('show');
    })
}


function toggleExecutor(e) {
    var btn = $(this), data = btn.data(),
        is_current = btn.hasClass('active'),
        task = $('#task-' + data.task_id),
        url = is_current ? data.stop_url : data.start_url;

    $.post(url, function(result) {
        if (!is_current && result.start) {
            $('.executors button.active').removeClass('active')
                .data('sprint', '');
            btn.addClass('active').data('sprint', result.start);
            task.addClass('active');
        }
        else {
            btn.removeClass('active').data('sprint', '');
            task.removeClass('active');
        }
        btn.blur();

        var work = $('#task-time-work-' + data.task_id);
        work.text(moment.duration(result.task_time_work, 'seconds').humanize());
    });
}


$(document).ready(function($) {
    moment.updateLocale($('html').attr('lang'), {});
    $('.isoformat').each(function(i, item) {
        var $obj = $(item);
        $obj.text(moment($obj.text()).format('L LTS')).removeClass('isoformat')
    });
    $('.timesince').each(function(i, item) {
        var $obj = $(item);
        $obj.text(moment($obj.text()).calendar()).removeClass('timesince')
    });
    $('.duration').each(function(i, item) {
        var $obj = $(item), seconds = $obj.data('seconds');
        if (seconds) {
            $obj.text(moment.duration(seconds, 'seconds').humanize());
        }
        else {
            $obj.text('{{ _('отсутствует')|escapejs }}');
        }
    });

    buildTemplates();
    $('body')
        .on('click', '.executors button', toggleExecutor)
        .on('click', '#modal button.apply', function() {
            var form = $('#modal form')[0],
                formData = new FormData(form),
                url = form.action;
            $.ajax({
                url: url,
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal').modal('hide');
                    if (window.reloadData) {
                        window.reloadData()
                    }
                }
            })
        })
    ;
})

</script>
{% endnewlineless_javascript %}
{% endblock %}
