{% extends './base.html'%}
{% load i18n proplan_html proplan_bootstrap4 %}

{% block body_class %}profile{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Профиль' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'proplan:password_change' %}" class="btn btn-sm btn-outline-secondary">
                <span>{% trans 'изменить пароль' %}</span>
            </a>
        </div>
    </div>
</div>

<form class="form p-2" role="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}{{ field|form_group }}{% endfor %}
    <button type="submit" class="btn btn-dark">
        <i class="fa fa-save" aria-hidden="true"></i> \
        {% trans 'Обновить профиль' %} \
    </button>
</form>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 mb-1">
    <h2 class="h3">{% trans 'Мои параметры' %}</h2>
</div>
<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>{% trans 'Название' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Значение' %}</th>
            <th>{% trans 'Кэш' %}</th>
        </tr>
    </thead>
    <tbody id="parameters">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endspaceless %}{% endnewlineless %}{% endblock %}
