{% load i18n %}
<div class="modal-dialog {% block dialog_add_class %}{% endblock %}" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 id="modalLabel" class="modal-title">{% block title %}...{% endblock %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Закрыть' %}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">{% block body %}{% endblock %}</div>
        <div class="modal-footer">
        {% block footer %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Закрыть' %}</button>
        {% endblock %}
        </div>
    </div>
</div>
